@charset "utf-8";
/* 절대로 위의 줄은 1번줄에 배치 */
/* 글꼴 import 진행 */
@import url("./font/font.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
img {
  border: 0;
  vertical-align: middle;
}
html {
  font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
p,
label,
a {
  line-height: 1.5em;
  word-break: keep-all;
}
body {
  font-family: "Poppins", "Pretendard", sans-serif;
  color: #222;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0;
  word-break: keep-all;
  overflow-x: hidden;
}
html.active {
  overflow-y: hidden;
  overflow-x: hidden;
}
/* 위로가기 */
.gotop {
  position: fixed;
  right: 60px;
  bottom: 60px;
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 5px;
  z-index: 9999;
  border: 0;
  background: #3056a1;
  cursor: pointer;
  opacity: 0;
  transition: bottom 0.3s, visibility 0.3s, opacity 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  color: white;
}
.gotop.active {
  opacity: 1;
}
.gotop.active2 {
  bottom: 350px;
}
@media (max-width: 640) {
  .gotop {
    right: 20px;
    bottom: 20px;
  }
}

/* 공통요소 : 2번이상 재활용 코드 */
.inner {
  position: relative;
  display: block;
  /* 반응형이므로 */
  max-width: 1420px;
  width: 100%;
  /* block 요소 가운데 정렬 */
  margin: 0 auto;
  padding: 0 30px;
}

/* 레이아웃 */
.wrap {
  position: relative;
  display: block;
}
/* 상단 */
.header {
  /* 메뉴가 상단에 고정해서 스크롤이 된다면 fixed */
  position: fixed;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100px;
  /* header 는 무조건 z-index 쓰자! 최대값으로 쓰자. */
  z-index: 9999;
  background: rgba(255, 255, 255, 0);
  transition: height 0.5s, background 0.5s;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header .inner {
  max-width: 100%;
  height: 100%;
  z-index: 9;
}
/* 
    left, top, right, bottom 사용시
    반드시 position:absolute 쓰자.
    즉, position: relative 에 쓰지말자
*/

.logo {
  position: absolute;
  top: 35px;
  left: 60px;
  /* 
        a, span 등등은 기본 display:inline  
        너비, 높이, margin, padding 설정 못함
        그래서 최소 inline-block 이라고 해야 한다.
    */
  display: inline-block;
  width: 125px;
  height: 30px;
  background: url("../images/logo_white.png") no-repeat center;
  background-size: cover;
  transition: top 0.5s, background 0.5s;
}

.header.active .nav {
  height: 80px;
}
.nav {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}

.gnb {
  display: flex;
  height: 100%;
  /* 세로 중앙 정렬 */
  align-items: center;
}
/* .gnb > li : 주의사항 만약에 서브 메뉴가 있다면 */
.gnb > li > a {
  display: block;
  font-size: 17px;
  /* font-weight: 400 */
  font-weight: 500;
  color: #fff;
  /* 왜 padding 을 쓰는가? a 태그 영역확대*/
  padding: 40px 38px;
}
.gnb > li > a > span {
  position: relative;
  display: block;
  padding-bottom: 7px;
}
.gnb > li > a > span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width 0.5s;
}
.gnb > li > a:hover > span::after {
  width: 100%;
}

.mb-bt {
  position: absolute;
  right: -20000px;
  top: 24px;
  width: 30px;
  height: 22px;
  background: transparent;
  border: none;
  cursor: pointer;
}
.mb-bt span {
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
}

.mb-bt span:nth-child(1) {
  top: 0;
  transition: transform 0.3s;
}
.mb-bt span:nth-child(2) {
  top: calc(50% - 1px);
  transition: opacity 0.2s;
}
.mb-bt span:nth-child(3) {
  bottom: 0;
  transition: transform 0.3s;
}

/* 모바일 메뉴 */
.mb-nav {
  position: absolute;
  left: 100%;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #fff;
  padding-top: 90px;
  transition: left 0.3s ease-in-out;
}

.mb-nav-gnb > li {
  border-bottom: 1px solid #e5e5e5;
}
.mb-nav-gnb > li > a {
  display: block;
  padding: 20px 70px 20px 40px;
  font-size: 24px;
}

/* 스크롤시 css 적용 */
.header.active {
  height: 80px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 10px 0 15px 0 rgb(0 0 0 / 10%);
}
.logo.active {
  top: 25px;
  background: url("../images/logo.png") no-repeat center;
  background-size: cover;
}
.logo.active-blue {
  background: url("../images/logo.png") no-repeat center;
  background-size: cover;
}
.gnb > li > a.active {
  color: #222;
}
/* 모바일 버튼 애니메이션 */
.mb-bt span.active {
  background: #222;
}
.mb-bt.active span:nth-child(1) {
  transform: rotate(45deg);
  top: calc(50% - 1px);
}
.mb-bt.active span:nth-child(2) {
  opacity: 0;
}
.mb-bt.active span:nth-child(3) {
  transform: rotate(-45deg);
  bottom: calc(50% - 1px);
}
/* 모바일 메뉴 애니메이션 */
.mb-nav.active {
  left: 0;
}

/* 1. 숫자가 증가하는 형태는 모바일 작업 > 타블렛 > 데스크 */
/* 2. 숫자가 감소하는 형태는 데스크탑 작업 > 타블렛 > 모바일 */
@media screen and (max-width: 1280px) {
  .header {
    height: 90px;
  }
  .logo {
    top: 30px;
    left: 20px;
    width: 150px;
    height: 30px;
  }
  .gnb > li > a {
    padding: 25px 35px;
  }
}
@media screen and (max-width: 1080px) {
  .header {
    height: 70px !important;
  }
  .logo {
    top: 20px !important;
    width: 120px;
    height: 30px;
  }
  .gnb {
    display: none;
  }
  .mb-bt {
    right: 20px;
  }
}

/* 비주얼 */
.visual {
  position: relative;
  display: block;
  width: 100%;
  height: 100vh;
}
.swvisual {
  width: 100%;
  height: 100%;
}
/* 기본 및 공통 슬라이드 내용 */
.visual-img {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background-color: green;
}
/* 상세 슬라이드 내용 */
.bg-1 {
  background: url("../images/main_visual_1.jpg") no-repeat center;
  background-size: cover;
}
.bg-2 {
  background: url("../images/main_visual_2.jpg") no-repeat center;
  background-size: cover;
}
.bg-3 {
  background: url("../images/main_visual_3.jpg") no-repeat center;
  background-size: cover;
}
.bg-4 {
  background: url("../images/main_visual_4.jpg") no-repeat center;
  background-size: cover;
}
.swvisual-control {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.swvisual-control button i {
  font-size: 30px;
  color: white;
  opacity: 0.2;
  transition: opacity 0.3s;
}
.swvisual-control button:hover i {
  opacity: 1;
}
.swvisual-prev {
  width: 60px;
  height: 60px;
  border: none;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.swvisual-next {
  width: 60px;
  height: 60px;
  border: none;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.swvisual-title {
  margin: 20px 0 12px;
  font-family: "Godo", "Notokr";
  font-size: 74px;
  color: #fff;
  line-height: 1.3;
}
.swvisual-txt {
  opacity: 0.9;
  margin-top: 10px;
  font-size: 22px;
  font-weight: 500;
  color: #fff;
}
.swvisual-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 55px;
  padding: 0 20px;
  margin-top: 30px;
  font-size: 16px;
  border: 1px solid white;
}
.swvisual-link.active {
  border: none;
}
.swvisual-link a {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.swvisual-link.active a {
  display: none;
}
.swvisual-navi {
  margin-top: 90px;
}
.swvisual-list {
  display: flex;
}
.swvisual-list li {
  position: relative;
  display: block;
  width: 80px;
  height: 27px;
  color: rgba(255, 255, 255, 0.3);
  padding: 0 10px;
  cursor: pointer;
  transition: color 0.3;
}
.swvisual-list li::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}
.swvisual-list li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: rgba(255, 255, 255, 1);
}
.swvisual-list li.active {
  color: rgba(255, 255, 255, 1);
}
@keyframes slideLiWidth {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.swvisual-list li.active::after {
  /* width: 100%;
  transition: width 3s; */
  animation: 4s ease-out 0s 1 slideLiWidth;
}
/* 비주얼 반응형 */
@media screen and (max-width: 1280px) {
  .swvisual-title {
    font-size: 50px;
  }
  .swvisual-txt {
    font-size: 20px;
  }
  .swvisual-prev {
    width: 50px;
    height: 50px;
  }
  .swvisual-next {
    width: 50px;
    height: 50px;
  }
  .swvisual-control button i {
    font-size: 25px;
  }
}
@media screen and (max-width: 1024px) {
  .visual {
    min-height: 800px;
    height: 48.95vw;
  }
  .swvisual-title {
    font-size: 42px;
  }
  .swvisual-txt {
    font-size: 17px;
  }
}
@media screen and (max-width: 640px) {
  .swvisual-title {
    font-size: 36px;
  }
  .swvisual-prev {
    width: 40px;
    height: 40px;
  }
  .swvisual-next {
    width: 40px;
    height: 40px;
  }
  .swvisual-control button i {
    font-size: 20px;
  }
  .swvisual-list li {
    width: 50px;
  }
}

/* 서비스 */
.service {
  position: relative;
  display: block;
  height: auto;
}
.service .inner {
  height: 100%;
  padding: 180px 30px;
}
.service h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 38px;
  /* 글자셋팅 */
}
.service h2 span {
  color: #3a68b2;
}
@media (max-width: 1280) {
  .service h2 {
    font-size: 34px;
  }
}
@media (max-width: 1024px) {
  .service h2 {
    font-size: 30px;
  }
}
.service-content {
  display: flex;
  justify-content: space-between;
  height: 680px;
}
.service-content a {
  width: 100%;
  display: block;
  padding: 60px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: end;
  flex-wrap: nowrap;
}
.service-left {
  width: calc(50% - 10px);
  height: 100%;
  transition: all 0.5s;
}
.service-right {
  width: calc(50% - 10px);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.service-right a {
  height: calc(50% - 10px);
}
.service-link1 {
  background: url("../images/main_service_img1.jpg") no-repeat center;
  background-size: 110%;
  height: 100%;
  transition: background-size 0.8s;
}
.service-link1:hover {
  background-size: 120%;
}
.service-link2 {
  height: 100%;
  background: url("../images/main_service_img2.jpg") no-repeat center;
  background-size: 110%;
}
.service-link2:hover {
  background-size: 120%;
}
.service-link3 {
  height: 100%;
  background: url("../images/main_service_img3.jpg") no-repeat center;
  background-size: 110%;
}
.service-link3:hover {
  background-size: 120%;
}
.service-title {
  width: 100%;
  font-size: 26px;
  font-weight: bold;
  line-height: 39px;
  margin-bottom: 3px;
}
.service-detail {
  width: 100%;
  font-size: 17px;
  opacity: 0.8;
  font-weight: 300;
}
.service-br {
  display: none;
}
.service-btn {
  padding: 0 15px 0 20px;
  margin-top: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 140px;
  height: 40px;
  font-size: 15px;
  transition: color 0.3s;
  background-color: 0.3s;
}

@media screen and (max-width: 1440px) {
  .service-content {
    height: 47.22vw;
  }
}
@media screen and (max-width: 1280px) {
  .service-content a {
    padding: 30px;
  }
}
@media screen and (max-width: 1024px) {
  .service-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    height: auto;
  }
  .service-left {
    display: block;
    width: 100%;
    max-width: 680px;
    height: 580px;
    margin-bottom: 20px;
  }
  .service-right {
    display: block;
    width: 100%;
    height: 580px;
    max-width: 680px;
  }
  .service-link2 {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 640px) {
  .service-left {
    height: 220px;
  }
  .service-right {
    height: 460px;
  }
  .service-link2 {
    height: 220px;
  }
  .service-link3 {
    height: 220px;
  }
  .service-content a {
    justify-content: center;
    padding: 20px;
  }
}
@media screen and (max-width: 480px) {
  .service-br {
    display: block;
  }
}

/* 정보 */
.info {
  position: relative;
  display: block;
}
.info .inner {
  padding: 0px 30px 180px;
}
.info-contents {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 430px;
}
.info-left {
  width: 50%;
  height: 100%;
  font-size: 44px;
  line-height: 1.35;
  font-weight: bold;
}
.info-color {
  color: #3a68b2;
  font-weight: bold;
}
.info-right {
  width: 50%;
  height: 100%;
}
.info-right-title {
  margin-bottom: 45px;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.35;
}
.info-right-detail-text {
  margin-bottom: 25px;
}
.info-right-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 140px;
  height: 50px;
  padding: 0 10px;
  margin-top: 90px;
  font-size: 15px;
  font-weight: 600;
  border-bottom: 2px solid #222;
}

@media (max-width: 1280px) {
  .info-contents {
    height: 383px;
  }
  .info-right-title {
    font-size: 30px;
  }
}
@media (max-width: 1024px) {
  .info-contents {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .info-left {
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
    font-size: 34px;
  }
  .info-right {
    width: 100%;
    text-align: center;
  }

  .info-right-link {
    margin: 50px auto 0;
  }
}
@media (max-width: 640px) {
  .info-left {
    font-size: 30px;
  }
  .info-right-title {
    font-size: 22px;
  }
}
@media (max-width: 480px) {
  .info-left {
    margin-bottom: 30px;
    font-size: 26px;
  }
  .info-right-title {
    font-size: 20px;
  }
}
/* 서비스 카테고리 */
.category {
  position: relative;
  display: block;
  height: 400px;
}
.swcategory {
  height: 100%;
}
.category-link {
  position: relative;
  display: block;
  width: 100%;
  min-width: 400px;
  padding: 85px 60px;
  border-right: 1px solid #dadfe6;
  background-color: #eee;
  height: 100%;
  transition: background-color 0.3s, color 0.3s;
}
.category-link h6 {
  margin-bottom: 14px;
  font-size: 28px;
}
.category-link p {
  position: relative;
  margin-bottom: 42px;
  font-size: 17px;
  opacity: 0.8;
  z-index: 1;
}
.category-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 50px;
  font-size: 15px;
  font-weight: 600;
  border-bottom: 2px solid #222;
  letter-spacing: -1px;
  transition: border 0.3s;
}
.category-btn::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  min-height: 100%;
  right: 0px;
  bottom: 10px;
  max-width: 304px;
}
.clink1 .category-btn::after {
  background: url("../images/main_banner_figure1.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
}
.clink1:hover {
  background-color: #3891b2;
  color: white;
}
.clink1:hover .category-btn {
  border-bottom: 2px solid #fff;
}
.clink2 .category-btn::after {
  background: url("../images/main_banner_figure2.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
}
.clink2:hover {
  background-color: #db574f;
  color: white;
}
.clink2:hover .category-btn {
  border-bottom: 2px solid #fff;
}
.clink3 .category-btn::after {
  background: url("../images/main_banner_figure3.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
}
.clink3:hover {
  background-color: #f0b23a;
  color: white;
}
.clink3:hover .category-btn {
  border-bottom: 2px solid #fff;
}

@media (max-width: 1600px) {
  .category-link {
    padding: 30px;
  }
}
@media (max-width: 1280px) {
  .category-link h6 {
    font-size: 24px;
  }
  .category-link p {
    font-size: 16px;
  }
  .category-btn::after {
    width: 70%;
    right: 0;
  }
}
@media (max-width: 640px) {
  .category-link h6 {
    font-size: 20px;
  }
  .category-link p {
    font-size: 15px;
  }
  .category-btn::after {
    right: 20px !important;
    width: 50%;
    opacity: 0.8;
  }
}
@media (max-width: 460px) {
  .category {
    height: 300px;
  }
}
.category-pop {
  display: none;
  position: absolute;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 99;
}
.category-pop.active {
  display: none !important;
}
@media (max-width: 1024px) {
  .category-pop {
    display: flex;
  }
}
/* 하단 */
.footer {
  position: relative;
  display: block;
  padding: 60px;
  text-align: center;
  background-color: #222;
  color: #666;
  width: 100%;
}
.footer-box {
  width: 100%;
  max-width: 1460px;
  padding: 0 20px;
  margin: 0 auto;
}
.footer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
  line-height: 1.7;
}
.footer-list-item {
  position: relative;
  padding: 0 18px;
  font-size: 15px;
}
.footer-list-item:not(:last-child)::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  width: 1px;
  height: 12px;
  background-color: #444;
  transform: translateY(-50%);
}
.footer-tel {
  color: #666;
}
.footer-copy {
  margin-top: 50px;
  font-size: 14px;
  color: #444;
}
@media (max-width: 1280px) {
  .footer-list {
    justify-content: center;
  }
}
@media (max-width: 1024px) {
  .footer {
    padding: 40px 0;
  }
}
@media (max-width: 640px) {
  .footer-list {
    flex-direction: column;
  }
  .footer-list-item:not(:last-child)::after {
    display: none;
  }
}
